<%= form_with model: @post, url: user_posts_path(@user) do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %> 