<%= link_to "back to post",url_for(:back) %>
<%= form_with model: @post, local:true, data:{turbo: false} do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %> 