<div class = "container">
    <div class = "post-container">
        <div class="post-header">
            <p>
                <%= @post.title %> by
                <%= @post.author.name%>
            </p>
            <p>
                Comments: <%= @post.comments_counter %>,
                Likes: <%= @post.likes_counter %>
            </p>
        </div>
        <p class = "post-text">
            <%= @post.text %>
        </p>
    </div>
    <div class="comment-section">
        <% @comment.each do |c|%>
            <p><%= c.user.name + ": " + c.text%></p>
        <%end%>
    </div>

    <%= form_with :url => user_comments_path(@user, @post), method: :post do |f| %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.hidden_field :author_id, value: @user.id %>
        <%= f.text_area :comment, placeholder: 'Comment' %><br>
        <%= f.submit "Comment" %>
    <% end %>
</div>